$White: hsl(0, 0%, 100%);
$Light-gray: hsl(212, 45%, 89%);
$Grayish-blue: hsl(220, 15%, 55%);
$Dark-blue: hsl(218, 44%, 22%);

*, *::before, *::after {
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Outfit', sans-serif;
}

body {
    min-height: 100vh;
    background: $Light-gray;
    display: flex;
    flex-direction: column;
    text-align: center;     
}

main {
    background: $White;
    border-radius: 20px;
    height: 495px;
    width: 320px;
    margin: auto;
    padding: 15px;
    
    img {
        align-items: center;
        border-radius: 15px;
        display: block;
        max-width: 100%;
    }

    h1 {
        color: $Dark-blue;
        font-size: 2rem;
        font-weight: 700;
        margin-top: 25px;
    }

    p{
        color: $Grayish-blue;
        font-size: 1.5rem;
        font-weight: 400;
        margin-top: 20px;
    }
}

footer { 
    font-size: 1.1rem; 
    margin-bottom: 1rem;
    
    a { 
        color: hsl(228, 45%, 44%); 
    }
}


